body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color :black ;
    color: white;
    text-align: center;
    padding: 10px;
}

.foto {
    height: 35px;
    margin-right: 1650px;
}
.form {
    height: 35px;
    width: 550px;
    margin-right: 800px;
    position: relative;
    top: -350px:  
}
.foto2 {
    height: 600px;
    width: 2000px;

}
.nove {
    display: flex;
    justify-content: center;
   
}

.sput {
    margin-right: 30px;
    margin: 30px;
}

.foto3 {
    height: 600px;
    width: 2000px;
    margin: 30px;
}



.foto4 {
    height: 600px;
    width: 2000px;
    margin: 30px;
}

.foto5 {
    height: 100px;
    width: 1800px;
    margin: 30px;
}

.noveda {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.foto6 {
    height: 600px;
    width: 2000px;
}

.favo {
    position: absolute;
    display: flex;
    justify-content: center;
   
}

.spot {
    margin-right: 280px;
    margin: 250px;
    position: relative;
    top: -220px;
    font-size: 20px;
}