body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color :black ;
    color: white;
    text-align: center;
    padding: 10px;
}

.foto {
    height: 35px;
    margin-right: 1650px;
}
.form {
    height: 35px;
    width: 550px;
    margin-right: 800px;
    position: relative;
    top: -350px:  
}
.foto2 {
    height: 600px;
    width: 2000px;

}
.nove {
    display: flex;
    justify-content: center;
   
}

.sput {
    margin-right: 30px;
    margin: 30px;
}

.foto3 {
    height: 600px;
    width: 2000px;
    margin: 30px;
}

.promos {
   
}



.pro {
    height: 30x;
    width: 20px;
    margin: 30px;
}
